* {
    padding: 0;
    margin: 0;
}

#frame{
	
	width: 300px;
	height: 350px;
	margin:20px auto;
	padding: 20px 0px 20px 40px;
	border: 1px solid grey;
}
#frame h1{
	padding:20px 0;
}
#frame h2{
	padding:20px 0;
}
#caption {
	color:blue;	
	padding: 15px 0;
}
.argColor{
	color:green;
}
.resultColor{
	color:red;
}
table {
	padding: 20px 0;
}
#txt1{
	padding: 2px;
	color: grey;
}
